header {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  background-color:white;
}

.session-button-dropdown-container{
  display: flex;
}

.login-container{
  display:flex;
  align-items: center;
}

.drop-down-container{
  width: 45px;
  height: 45px;
  display: relative;

  img{
    height: 45px;
    width: auto;
  }
}

.drop-down-icon{
  width: 30px;
  height: auto;
  background-color: white;
}

.drop-down-off{
  width: 50px;
  height:50px;
  background-color: yellow;
  display: none;
}

.drop-down-on{
  position: absolute;
  background-color: rgb(201, 201, 201);
  right: 15px;
}

.logo {
  font-size: calc(40px + .5vw);
  text-decoration: none; 
  font-family: 'Cormorant Garamond', serif;
}

.nav-buttons-container{
  display: flex;
  font-family: 'Cormorant Garamond', serif;
  width: 400px;
  justify-content: space-between;
  font-size: 20px;
}

.header__right-container {
  display: flex;

  &--username {
    padding: 1vh 20px;
  }

  &--logout-btn {
    border: 1px solid grey;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-top: 1.3vh;
    padding-bottom: 1.3vh;
    text-decoration: none; 
    border-radius: 7px;
    cursor: pointer;
    color: black;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    font-size: calc(28px + 1vw);
  }
  .nav-buttons-container{
    font-size: 20px;
  }
}

@media screen and (max-width: 463px){
  .logo{
    font-size: 30px;
  }

  .nav-buttons-container{
    width: 250px;
    font-size: 12px;
  }
}

#header-container{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    height: 80px;
}