.session__form-box {
  // border: 1px solid grey;
  width: 33%;
  padding: 10vh 7vh;
}

.session__form-container {
  display: flex;
  justify-content: center;
  background-image: url("/session_background.jpg");
  // background-position: -300px;
  // transform: scale(.5);
  background-size: cover;
  height: 100%;
}

.session__btn--nav{
  color: white;
}

.session__form-container-opacity{
  background: rgba(black, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    color: white;
}

.session__textbox {
  width: 97%;
  display: block;
  height: 48px;
  font-size: 16px;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  border-style: none;
  border: 1px solid #E1E3DF;
  box-shadow: none;
  max-width: 100%;
}

.session__msg {
  &--confirmation {
    color: rgb(228, 167, 77);
  }
  
  &--error {
    // This nesting gives bullet different color than text
    color: #ff6d6d;
    padding: 10px 4px;
  }
}

.session__link {
  cursor: pointer;
  color: gray;
  text-decoration: underline;
  &:hover {
    opacity: 0.8;
  }
}

.session__or-container {
	width: 100%;
	text-align: center;
}

.session__or-container hr {
	margin-left: auto;
	margin-right: auto;
  width: 40%;
  color: lightgrey;
}

.session__or-hr {
	&--left {
    float: left;
  }
  
  &--right {
	  float: right;
  }
}

.home-link {
  color: #15c;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .session__form-box {
    width: 90%;
    padding: 6vh 7vh;
  }
}

@media screen and (max-width: 450px){
  .session-text{
    font-size: 12px;
  }

  .session__form-box{
    padding: 10px
  }

  .session__input-container{
    font-size: 12px;
  }

  .session__link{
    font-size:12px;
  }

  .session__textbox{
    height: 30px;
  }
}