#chez-barber{
    color: white;
}

#left-side{
    float: right;
    vertical-align: middle;
}

#barber-image{
    border-radius: 50%
}

.estrellas {
    position: relative;
    width: 520px;
    height:300px;
    // margin: 0 auto;
    font-size: 70px;
  }
  .estrellas span {
    position: absolute;
    top: 50%;
    right: 10%;
    width: 70px;
    height: 300px;
    // margin-left: -35px;
    line-height: 530px; /* height*2 - font-size */
    text-align: center;
    transform-origin: top center;
    // color: white;
  }

  // .estrellas span:nth-of-type(1)  {
  //   transform: rotate(75deg);
  // }
  // .estrellas span:nth-of-type(2)  {
  //   transform: rotate(50deg);
  // }
  // .estrellas span:nth-of-type(3)  {
  //   transform: rotate(25deg);
  // }
  // .estrellas span:nth-of-type(4)  {
  //   transform: rotate(0deg);
  // }
  // .estrellas span:nth-of-type(5)  {
  //   transform: rotate(-25deg);
  // }
  // .estrellas span:nth-of-type(6)  {
  //   transform: rotate(-50deg);
  // }
  // .estrellas span:nth-of-type(7)  {
  //   transform: rotate(-75deg);
  // }
  /* Reverse mode */
  .inverso {
    font-weight: bold;
  }
  .inverso span {
    line-height: 150px;
    transform-origin: bottom center;
    border: 1px solid red; /* Only for seeing trick */
  }

  .chez-barber-name{
    font-family: 'Cormorant Garamond', serif;
    // margin: 0 auto;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 20px;
  }

  .barber-chair{
    display: flex;
    justify-content: center;
    padding-bottom: 36px;
  }

  .in-progress{
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Garamond', serif;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
      .in-progress-one{
        padding: 2px;
        font-style: oblique;
        transition: opacity 0.5s;
        width: 90px;
      }
      
      .release-button{
        padding-left: 5px;
        
        
      }
    }
    
 .in-progress-two{
   display: flex;
   justify-content: center;
  //  margin-top: 50px;

    .in-progress-two-left{
      padding-right: 5px;
    }
    .in-progress-two-right {
      height: 40px;
      line-height: 40px;
      font-family: 'digital-7';
      font-size: 25px;
      width:20px
    }
 } 

 .info-list{
   display: flex;
   justify-content: flex-start;
   margin-top: 40px;
      .number-of-people-waiting{
        padding-left: 40px;
        font-size: 52px;
        font-family: 'Cormorant Garamond', serif;
        display: flex;
        align-items: center;
      }
      .client-information{
        .client-information-1{
          display: flex;
          padding-bottom: 30px;
          .client-img{
            border-radius: 40px;
            border: solid 3px black;
            margin-right: 16px;
          }
          .client-name{
            font-family: 'Cormorant Garamond', serif;
            display: flex;
            align-items: center;
            font-size: 24px;
            width: 100%;
          }
        }
        .client-information-2{
          display:flex;
          .scissors-img{
            border-radius: 40px;
            border: solid 3px black;
            margin-right: 16px;
          }
          .haircut-name{
            font-family: 'Cormorant Garamond', serif;
            display: flex;
            align-items: center;
            font-size: 24px;
            width: 100%;
          }
        }
      }
 }
    
    
    

 

