@font-face {
    font-family: 'digital-7';
    src:font-url('digital-7.eot');
    src:font-url('digital-7.eot?#iefix') format('embedded-opentype'),
        font-url('digital-7.svg#digital-7') format('svg'),
        // font-url('digital-7.woff') format('woff'),
        font-url('digital-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }